@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap");
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("login_gif.gif");
    background-size: cover;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 550px;
    background: #000;
    box-shadow: 0 0 50px #FBB034;
    border-radius: 20px;
    padding: 40px;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: -2%;
}

.input-group {
    position: relative;
    margin: 30px;
    border-bottom: 2px solid #fff;
}
.input-group label {
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    margin-bottom: 5%;
    transition: .5s;
}
.input-group input {
    width: 320px;
    height: 30p;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 5%;
}  
.input-group .fa-solid {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
}

.remember {
    margin: -5px 0 15px 35px;
}

.remember label {
    color: #fff;
    font-size: 14px;
}

.remember label input {
    accent-color: #FBB034;
}
button {
    position: relative;
    width: 50%;
    height: 40px;
    margin-left: 25%;
    background: transparent;
    font-size: 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 0.5s ease;
}

button:hover {
    box-shadow: 0 0 10px #FBB034;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #fff;
}

.signUp-link p a {
    color: #FBB034;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

.input-group input[type="password"] {
    padding-right: 40px;
}

.input-group .fa-solid {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
}

.input-group input:focus {
    outline: 0;
}

.input-group.success input {
    border-color: #09c372;
}

.input-group.error input {
    border-color: #ff3860;
}

.input-group .error {
    position: absolute;
    color: #ff3860;
    height: 8px;
}

.prompt.success {
    color: #00ff00;
    text-align: center;
}
.prompt.error {
    color: #ff0000;
    text-align: center;
}